@model TaskManagement.ViewModels.TasksVM
@{
    TempData["Title"] = "Home Page";
}
@if (@TempData["Message"] != null)
{


    @if (@TempData["IsError"] != null)
    {
        <div class="alert alert-danger" role="alert">
            @TempData["Message"]
        </div>
    }
    else
    {
        <div class="alert alert-success" role="alert">
            @TempData["Message"]
        </div>
    }
}
@ViewBag.Message
@using (Html.BeginForm("SaveTask", "Home", FormMethod.Post))
{
    <label for="Title" class="form-label">Title*</label>
    <input type="text" value="@Model.Title" name="Title" class="form-control" />


    <label for="Title" class="form-label">Description*</label>
    <textarea name="Description" class="form-control" rows="3">@Model.Description</textarea>

    <label for="AssignedTo" class="form-label">AssignedTo</label>
    <select class="form-select" name="UserId" >
       @foreach(var item in Model.Users){
            if (item.Id.ToString() == Model.UserId)
            {
                <option value="@item.Id" selected>@item.UserName</option>
            }
            else
            {
                <option value="@item.Id">@item.UserName</option>
            }
       
       }
       
       
    </select>
    <input type="hidden" value="@Model.Id" name="Id" />
    <input type="hidden" value="@Model.Status" name="Status" />


    <button type="submit" class="btn btn-primary">Submit</button>
}
